@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-header {
  @apply text-center text-[36px] lg:text-[46px] text-white font-bold
}
.main-paragraph{
  @apply leading-[px] lg:leading-[30px] text-[16px] lg:text-[20px] text-justify text-white
}
.main-button{
  @apply px-4 flex gap-2 text-[20px] text-white rounded-full py-4 bg-[#f06e10] mt-6 font-semibold
}

.ibm-plex-mono{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

body{
  font-family: "Sora", sans-serif;
}

.red{
  border: 2px solid red;
}

.gradient-text {
    background: linear-gradient(79.66deg, rgba(97, 207, 52, 0.85) 1.22%, #9CBB45 49.59%, #D5E609 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.gradient-button {
      background: linear-gradient(79.66deg, rgba(97, 207, 52, 0.85) 1.22%, #9CBB45 49.59%, #D5E609 99.17%);
}

.radial-gradient-pink{
  background-image: radial-gradient(
    closest-side,
    #cafb02,
    transparent
  );
}

.scrolling-divs {
  display: flex;
  animation: scroll-divs 10s linear infinite;
}

@keyframes scroll-divs {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}